body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f8f8f8;
}

.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "menu main right"
    "menu footer footer";
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 50px 50px;
  width: 800px;
  height: 80px;
  margin: 50px 50px;
  border: 2px solid lightblue;   
  box-sizing: border-box;
}

header {
  grid-area: header;
}

nav {
  grid-area: menu;
}

main {
  grid-area: main;
}

aside {
  grid-area: right;
}

footer {
  grid-area: footer;
}

header, nav, main, aside, footer {
  outline: 5px solid lightblue;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
