button{
    width: 80%;
    background-color: #4caf50;
    color: white;
    padding 8px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color:#45a049;
}

input[type="text"], input[type="email"], input[type="date"]{
    width: 80%;
    padding: 8px 20px;
    border: 1px;
    font-family: sans-serif;
}

label{
    font-family: sans-serif;
    font-size: 14px;
}